---
import Layout from "./Layout.astro";
import DateTime from "../components/DateTime.astro";

export interface Props {
  title: string;
  abstract: string;
  published: Date;
  updated: Date;
  relativePath: string;
  backLinkPath: string;
}

const { title, abstract, published, updated, relativePath, backLinkPath } =
  Astro.props;
---

<Layout class="body" description={abstract} relativePath={relativePath}>
  <main class="main">
    <div class="back">
      <a role="button" href={backLinkPath}>&larr; Back</a>
    </div>
    <div class="frontmatter">
      <h1>{title}</h1>
      <p>{abstract}</p>
      <small>
        <span>
          Published:{" "}
          <DateTime date={published} />
        </span>
        <span>
          Updated:{" "}
          <DateTime date={updated} />
        </span>
      </small>
    </div>
    <div class="markdown">
      <slot />
    </div>
  </main>
</Layout>

<style lang="scss" is:global>
  @use "../styles/partials/variables" as v;
  @use "../styles/partials/extends" as *;
  @use "../styles/partials/mixins" as *;

  .body {
    @extend %background-dark;
  }

  .main {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    @include default-flex(3rem, column);
    font-size: 1.8rem;
  }

  .back a {
    border: none;
    background-color: transparent;
    font-size: 125%;
    color: currentColor;
    cursor: pointer;

    &:hover,
    &:active {
      color: v.$color-primary;
    }
  }

  .frontmatter {
    @include default-flex(1.5rem, column);

    p {
      font-size: 125%;
      line-height: 1.3;
    }

    small {
      @include default-small(1.5rem);
    }
  }

  .markdown {
    @include default-flex(1.5rem, column);
    align-items: flex-start;

    h2 {
      margin-top: 1rem;
    }

    figure {
      width: 100%;
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }

      figcaption {
        font-weight: 300;
      }
    }

    a {
      &:link,
      &:visited {
        color: v.$color-primary-light;
      }

      &:hover,
      &:active {
        color: v.$color-primary-dark;
      }
    }

    ul,
    ol {
      list-style-position: inside;
      padding-left: 4rem;

      li:not(:first-child) {
        margin-top: 1.5rem;
      }

      li > p:not(:first-child) {
        margin-top: 1rem;
      }
    }

    code {
      font-size: 85%;
      display: inline-block;
      padding: 0.2rem 0.4rem;
      border-radius: 0.6rem;
      background-color: v.$color-gray-dark-3;
    }

    pre {
      overflow-x: auto;
      border-radius: 0.6rem;
    }

    pre > code {
      line-height: 1.45;
      padding: 1.6rem;
    }

    blockquote {
      padding: 3.2rem;
      background-color: v.$color-gray-dark-2;
      position: relative;

      &::before,
      &::after {
        line-height: 1;
        font-size: 350%;
        position: absolute;
      }

      &::before {
        content: "\201C";
        top: 0.2rem;
        left: 0.6rem;
      }

      &::after {
        content: "\201D";
        bottom: -3.2rem;
        right: 0.6rem;
      }

      p {
        font-style: italic;

        &:not(:first-child) {
          margin-top: 1.5rem;
        }
      }
    }
  }
</style>
